<div id="map_canvas" style="min-width:150px; min-height:300px; width:62%; height:500px; float:left;margin-left:20px"></div><br/>
<div style="float:left;margin-left:20px; width:250px;">
	<div style="float:none"><h2 id="the_title"></h2></div>
	<div id="the_content" style="float:none"></div>
</div>
	
<script type="text/javascript" charset="utf-8">
	var geocoder;
	var map;
	var marker;
	var markers = [];
	var coordinatesList = [];
	
		function updateLocations() {
			$.ajax({
				url:"/map_location/list",
				type:"GET",
				success:function(result){
					console.log(result);
					var latlngbounds = new google.maps.LatLngBounds();
					
					for(var i = 0; i < result.length; i++){
						coordinatesList.push(new google.maps.LatLng(result[i].xval,result[i].yval));
						latlngbounds.extend(coordinatesList[i]);
						var marker = new google.maps.Marker({
							map: map,
							position : coordinatesList[i],
							title: result[i].title
						});
						markers.push(marker);
					}
					
					$("#the_title").html(result[result.length-1].title);
					$("#the_content").html(result[result.length-1].content);
					
					var coordinatesPath = new google.maps.Polyline({
					    path: coordinatesList,
					    strokeColor: "#FF0000",
					    strokeOpacity: 1.0,
					    strokeWeight: 2
					  });
					
					coordinatesPath.setMap(map);
					map.setCenter(latlngbounds.getCenter());
					map.fitBounds(latlngbounds);

				},
				error:function(result) {
					console.log(result);
				}
			});
		}
		

		function initialize(){
			//MAP
			var latlng = new google.maps.LatLng(41.659,-4.714);
			var options = {
				zoom: 16,
				center: latlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};

			map = new google.maps.Map(document.getElementById("map_canvas"), options);
			//GEOCODER
			geocoder = new google.maps.Geocoder();
			updateLocations();
		}

		$(document).ready(function() {
		  initialize();
		})

</script>