<%= make_menu %>   
<div id="container">
    <%= make_menu_page %>
    
    <div id="main">
		<% counter = 0 %>
        <% @posts.each do |post| %>
			<% counter = counter + 1 %>
            <% @post = post%>
            <%= showPost(counter) %>
        <% end %>
    </div>
</div>