<div id="container1">
    <%= make_menu %>
    <%= make_menu_page %>
    
    <div id="main">
        <% @posts.each do |post| %>
			<% @post = post%>
            <%= showPost %>
        <% end %>
    </div>
    
</div>