<div id="container">
	
   <h1>WELCOME!</h1>
   
   <a href="/users/new"><h3>First time visitors register here!</h3></a>

	<%= form_tag("/sessions", :method => "post", :multipart => true) do %>
   	<label>Email</label>
		<input type="text" name="email" id="email" />
		<br/>
   
   	<label>Password</label>
		<%= password_field_tag :password %>
		<br/> 
        <%= submit_tag "Login" %>
        <%= hidden_field_tag 'previous_page', @link %>
   <% end %>
   
 		
</div>