<div id="container1">
    <%= make_menu %>
    <div id="menu">
    
 		<a href="/" ><p>HOME</p></a>
        <a href="" ><p>PICS</p></a>
        <a href="" ><p>MOVIES</p></a>
        <a href="" ><p>MAP</p></a>
        <a href="" ><P>POETRY</P></a>
    
    </div>
    
    <div id="main">
        <% @posts.each do |post| %>
            <div class="pic_list">
            <% if post.post_type == "image" %>
                  <%= link_to(post) do %>
                    <img src='/data/<%= post.file %>' />
                  <% end %>
            <% end %>
            <p class="created_at"><%= post.created_at %></p>
            </div>
        <% end %>
    </div>
    
</div>