@charset "utf-8";
/* CSS Document */

/* log in*/
@font-face{
           font-family:concielan;
           src: url(/concielian/concav2.ttf);
          }

@font-face{
		   font-family:coolvetica;
		   src:url(/coolvetica/coolvetica%20rg.ttf);
	      }

button {
    width:200px !important;
}

body{
	background: url(/backgound.jpg); 
	font-family:helvetica;
	 background-repeat:no-repeat;
	 background-color:#000000;
	 width:80%;
	 margin-left:10%;
	 color:#ffffff;
	 font-weight:lighter;
	 font-size:120%;
}
 
img {
    max-width: 500px;
    max-height: 400px;
    border:1px solid #ffffff;
}
 
#container{
	       display:block;
	       margin-left:auto;
           margin-right:auto;
           width:20%;
	       margin-top:10%;
		   font-family:concielan;
}

#container1 {
	       
}
 
#form{
	  width:150px;
	  margin-top:30px;
	  background:trasparent;
	 }

.blurry{
	  opacity:0.8;
      filter:alpha(opacity=1);
}
	 
#registrationlink{
                  text-decoration:none;
  				  color:#CCC;
				  font-family:coolvetica;
 				 }
				 
#welcome{
		 font-size:36px;
	    }
		
/* registration*/

#formregistration{
	  width:200px;
	  margin-top:30px;
	  font-size:large;
	 }
 
	
/* home */	
	
#menu{
	  margin-top:40px;
	  margin-left:5px;
	  margin:5%;
	  width:170px;
	  float:left;
	  font-family:concielan;
	  font-size:xx-large;
}	

#menu a {
	text-decoration:none;
	color:#ffffff;
}

a, a:visited {
	text-decoration:underline;
	color:#ffffff;
}

.created_at {
    font-size:11px;
}

#admin-container {
    margin-top:40px;
}

		   
#main{
      padding:30px;
	  border-color:#CCC;
	  border:2px;
	  float:left;
	  width:600px;
	  background:rgba(204,204,204, 0.4);
	  border-radius:10px;
	  margin-top:60px;
}

#nav-top {
    background:rgba(204,204,204, 0.4) !important;
    padding:0.5em;
}
		
	
/* pics gallery */

table{
	margin-top:20px;
}

h1{
    text-decoration:underline;
}
 
td{
   color:#FFFFFF;
   width:1000px;
   margin-top:20px;
}	

.pic_list {
    float:left;
    min-width:150px;
    min-height:200px;
    padding:5px;
}
.pic_list img{
    max-width:150px;
    max-height:120px;
}		
.pic_list h1{
    
}		
		
		
		
		