@charset "utf-8";
/* CSS Document */

/* log in*/
@font-face{
    font-family:concielan;
    src: url(/concielian/concav2.ttf);
}

@font-face{
    font-family:coolvetica;
    src:url(/coolvetica/coolvetica%20rg.ttf);
}

body{
	background: url(/backgound.jpg); 
	font-family:helvetica;
	font-weight:lighter;
    background-repeat:no-repeat;
    background-color:#000000;
    color:#ffffff;
    height:100%;
    width:100%;
    margin-left:0px;
    margin-top:0px;
}

#container div {
    float:left;
}

#container {
    width:92%;
    padding:1%;
    height:100%;
    min-width:982px;
}

img {
    border-radius:15px;
    max-width:540px;
}

h1,h2 {
    font-family:concielan;
    color:#ff9900;
    text-shadow:9px 7px #333;
}

h3 {
    font-family:helvetica;
}

.selected a {
    color:#ff9900;
}

a,a:visited {
    font-family:concielan;
    color:#cccccc;
    text-decoration:none;
}
a:hover {
    color:#ff9900;
}

#menu{
    width:12%;
    font-family:concielan;
    height:100%;
    font-size:1.2em;
    min-width:132px;
    text-shadow: 7px 7px #333;
}
#main {
    width:85%;
    min-width:825px;
}

#nav-top {
    padding:1%;
    float:none;
    width:90%;
}

.pic {
    width:100%;
    max-width:1000px;
    padding:20px;
    background-color:rgba(100,149,237,.2);
    margin-bottom:20px;
    border-radius:15px;
}

.col1 {
    margin-left:30px;
}
.col2 {
    margin-left:30px;
    width:auto;
}

#container_login {
    color:#bbbbbb;
    position:fixed;
    bottom:0px;
    width:100%; //width should be 100%
}

.blurry{
        border: 1px solid blue;
        background: transparent;
        color:white;
        width:250px;
}

#login_child {
    width:300px; 
    margin:0px auto; 
}
		
		
#container_admin table { background:#D3E4E5;
 border:1px solid gray;
 border-collapse:collapse;
 color:#fff;
 font:normal 12px verdana, arial, helvetica, sans-serif;
}
#container_admin caption { border:1px solid #5C443A;
 color:#5C443A;
 font-weight:bold;
 letter-spacing:20px;
 padding:6px 4px 8px 0px;
 text-align:center;
 text-transform:uppercase;
}
#container_admin td, #container_admin th { color:#363636;
 padding:.4em;
}
#container_admin tr { border:1px dotted gray;
}
#container_admin thead th, #container_admin tfoot th { background:#5C443A;
 color:#FFFFFF;
 padding:3px 10px 3px 10px;
 text-align:left;
 text-transform:uppercase;
}
#container_admin tbody td a { color:#363636;
 text-decoration:none;
}
#container_admin tbody td a:visited { color:gray;
 text-decoration:line-through;
}
#container_admin tbody td a:hover { text-decoration:underline;
}
#container_admin tbody th a { color:#363636;
 font-weight:normal;
 text-decoration:none;
}
#container_admin tbody th a:hover { color:#363636;
}
#container_admin tbody td+td+td+td a { background-image:url('bullet_blue.png');
 background-position:left center;
 background-repeat:no-repeat;
 color:#03476F;
 padding-left:15px;
}
#container_admin tbody td+td+td+td a:visited { background-image:url('bullet_white.png');
 background-position:left center;
 background-repeat:no-repeat;
}
#container_admin tbody th, tbody td { text-align:left;
 vertical-align:top;
}
#container_admin tfoot td { background:#5C443A;
 color:#FFFFFF;
 padding-top:3px;
}
.odd { background:#fff;
}
#container_admin tbody tr:hover { background:#99BCBF;
 border:1px solid #03476F;
 color:#000000;
}

.poetry-right #poetry-title {
    float:left;
    width:180px;
}

.poetry-right #post-content {
    float:left;
    width:520px;
}

.poetry-left #poetry-title {
    float:right;
    width:150px;
}

.poetry-left #post-content {
    float:left;
    width:537px;
}

#post-title {
    float:left;
}

#post-content {
    float:left;
}

#post-image {
    float:left;
}

.pic_list {
    float:left;
    min-width:150px;
    min-height:200px;
    padding:5px;
}
.pic_list img{
    max-width:150px;
    max-height:120px;
}
#form_scaffold div {
    float:none;
}


/* LOGIN PAGE STYLES */
#registrationlink {
    
}
#login_child a  {
    color:#bbbbbb;
    font-family:concielan;
}
#login_child a:hover {
    color:#ff9900;
}

#welcome {
    color: #bbbbbb;
    font-family:concielan;
}