<div id="menu">
	<a href="/" ><p>HOME</p></a>
    <a href="/pages/pics" ><p>PHOTOS</p></a>
    <a href="/pages/videos" ><p>VIDEO</p></a>
    <a href="/pages/maps" ><p>MAP</p></a>
    <a href="/pages/poetry" ><P>MOVED</P></a>
</div>