<div id="menu">

	<a href="/" ><p>HOME</p></a>
    <a href="/pages/pics" ><p>PICS</p></a>
    <a href="/pages/videos" ><p>MOVIES</p></a>
    <a href="" ><p>MAP</p></a>
    <a href="/pages/poetry" ><P>POETRY</P></a>

</div>